<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <!--base href="http://demos.telerik.com/kendo-ui/grid/remote-data-binding"-->
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
</head>
</head>
<body>
<div id="grid">


</div>
<script>
    $(document).ready(
        function () {
            var dataSourceArguments = {
                pageSize: 5,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
                transport: {
                    type: "odata",
                    read: {
                        url: "{% url 'client-json' %}",
                        dataType: "json",
                    }
                },
                schema: {
                    /*total: "count",
                    data: function(d) {return d['payload'].map(function(e) {return e['fields']})}

                     */
                    data: "data"
                }
            }

            var dsg = new kendo.data.DataSource(dataSourceArguments);
            $("#grid").kendoGrid({
                dataSource: dsg,
                height: 600,
                filterable: true,
                sortable: true,
                pageable: true,
                columns: [ {
                    field: "name",
                    width: 90,
                    title: "Example name"
                    },
                    {
                        field: "occupation",
                        width: 90,
                        title: "Example occupation"
                    },
                    {
                        field: "date_of_birth",
                        width: 90,
                        title: "Example dob"
                    },
                ]
            });
        }




    );
</script>
</body>
</html>