<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <!--base href="http://demos.telerik.com/kendo-ui/grid/remote-data-binding"-->
    <style>html { font-size: 14px; font-family: Arial, Helvetica, sans-serif; }</style>
    <title></title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
</head>
</head>
<body>
<div id="grid">


</div>
<script>
    $(document).ready(
        function () {
            var dataSourceArguments = {
                pageSize: 12,
                serverPaging: true,
                //serverFiltering: true,
                //serverSorting: true,
                transport: {
                    read: {
                        url: "{% url 'client-json' %}",
                        dataType: "json",
                    }
                },
                schema: {
                    total: "count",
                    data: "results",
                }
            }

            var dsg = new kendo.data.DataSource(dataSourceArguments);
            $("#grid").kendoGrid({
                dataSource: dsg,
                height: 600,
                filterable: true,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns: [
                    {
                    field: "id",
                    title: "Example ID"
                    },
                    {
                    field: "name",
                    title: "Example name"
                    },
                    {
                        field: "occupation",
                        title: "Example occupation"
                    },
                    {
                        field: "date_of_birth",
                        title: "Example dob"
                    },
                ]
            });

            $("select[data-role='dropdownlist']").kendoDropDownList({
                dataTextField: "PageSize",
                dataValueField: "SizeValue",
                dataSource: [
                    {PageSize: 2},
                    {PageSize: 3},
                    {PageSize: 4},
                    {PageSize: 5},
                    {PageSize: 'All', SizeValue:1000},
                ],
                change: function (e) {
                    var grid = $("#grid").data("kendoGrid");
                    grid.dataSource.pageSize(parseInt(this.value()));  // this.value() being the value selected in Combo
                }

            });
        }




    );
</script>
</body>
</html>